<!-- Latest compiled and minified CSS -->
<html>
  <head>
    <title>dotstart</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  <body>
    <a href="/configure"><h1>configure current preset</h1></a>
    <% presets.each_with_index do |preset, index| %>
    <form action="/activate" method="post">
      <input type="hidden" name="name" value="<%= preset.name %>" />
      <input type="submit" value="<%= preset.name %>" style="height:100px; width:500px" />
    </form>
    <% end %>
    <script type="text/javascript">
      $(document).ready(function(){
        $("form").submit(function() {
          $.post($(this).attr("action"), $(this).serialize(), function(response){
            // do something here on success
          });
          return false;
        });
      });
    </script>
  </body>
</html>
